*{
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: #e1b382;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #12343b;
  min-height: 650px;
  min-width: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .app-wrapper {
    min-width: 50px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.task-input {
  outline: none;
  width: 290px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #c89666;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .task-input {
    width: 90%;
    text-align: center;
  }
}

@media screen  and (max-width: 480px){
  .todo {
    margin-left: 5px;
  }
}

.header {
  color: #ffffff;
  text-align: center;
  margin: 40px 10px;
  align-items: center;
  justify-content: center;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .button-add {
    display: none;
  }
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.list {
  width: 260px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 50px;
}

@media screen and (max-width: 480px) {
  .list {
    width: 60%;
    margin-right: 30px;
  }
}

.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #ff6c6c;
  margin-right: 10px;
}

.button-edit {
  color: #e2d029;
  margin-right: 10px;
}

.button-delete {
  color: lightseagreen;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
}


input:focus,
button:focus {
  outline: none;
}

.add-icon {
  display: none;
}

@media screen and (max-width: 480px) {
  .add-icon  {
    display: flex;
    margin: auto;
    background-color: transparent;
    color: #7CFC00;
    font-size: 50px;
    margin-top: 15px;
    top: 150%;
    border: none;
  }
}

.active-link {
  color: #7fe0b8;
  text-decoration: underline;
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: black;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}



.about__content {
  padding: 8rem 40px;
  display: flex;
}

.about__list {
  list-style: none;
  flex: 2;
  margin-right: 15px;
}

.about__list a {
  color: #9f9f9f;
  text-transform: capitalize;
  padding: 20px 0;
  font-weight: 600;
}

.about__list a:hover {
  color: #000;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}